﻿@{
    ViewBag.Title = "Página principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <img src="@Url.Content("~/Content/img/logo-LV-03.png")" style="width:auto; padding: 15rem 15rem 20rem 22rem;" />
        </div>
    </div>

</section>
