﻿@model LV_Template_MVC4.Models.ReporteViewModel

@{
    ViewBag.Title = "Diario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h4>Reporte Diario</h4>
        </div>
    </div>
</section>

<section class="content">
    @using (Html.BeginForm("Resumen", "Reporte", FormMethod.Post, new { id = "formReporte", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="container-fluid">
                <div class="card card-gray">
                    <div class="card-header">
                        <h4 class="card-title">Parámetros Reporte</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">


                                    @Html.Label("Periodo: ", new { @class = "col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.PeriodoSeleccionado, new SelectList(Model.Periodos, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlPeriodos" })
                                        </div>
                                        <span id="mensajePeriodo" class="text-danger" style="display: none">Debe seleccionar un Periodo</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-outline-info" type="button" id="btnBuscar"><i class="fa fa-search"></i>&nbspBuscar</button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    }

</section>

<!--Grilla de datos-->
<section class="content animated fadeIn">
    <div class="row">
        <div class="container-fluid">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title"> Reporte diario por Manager/Fondo</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-sm" cellspacing="0" style="width:100%" id="gridReporte">
                                <thead>
                                    <tr>
                                        <th>
                                            Manager
                                        </th>
                                        <th>
                                            Manager
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th>
                                            Fondo
                                        </th>
                                        <th>
                                            Management Free
                                        </th>
                                        <th>
                                            Rebate
                                        </th>
                                        <th>
                                            Tipo Rebate
                                        </th>
                                        <th>
                                            Management Free
                                        </th>
                                        <th>
                                            Rebate
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ReporteResumenList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreManager)
                                            </td>
                                            <td></td>
                                            <td>@Html.DisplayFor(modelItem => item.SumaTotalManagementFree)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SumaTotalRebateAnual)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fondo)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.ManagementFree)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.RebateAnual)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoRebate)
                                            </td>

                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.TotalManagementFree)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.TotalRebateAnual)
                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/customjs/reporte-resumen.js"></script>
    <style>
        .group {
            background-color: #ddd !important;
            font-weight: bold;
        }
    </style>

}