﻿@model LV_Template_MVC4.Models.AcuerdoViewModel

@{
    ViewBag.Title = " Edicion Acuerdo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h4>Edición Acuerdo Comercial</h4>
        </div>
    </div>
</section>

<section class="content">
    @using (Html.BeginForm("Edit", "Acuerdos", FormMethod.Post, new { id = "formEditAcuerdo", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="container-fluid">
                <div class="card card-gray">
                    <div class="card-header">
                        <h4 class="card-title">Edición de Acuerdo Comercial</h4>
                        @Html.HiddenFor(model => model.Acuerdo.Id)
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Fondo :", new { @class = "col-md-1-5 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Acuerdo.CODIGO_PRODUCTO, new { @readonly = true, @class = "form-control", id = "txtCodigoProducto", maxlength = 200, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>

                                    @Html.Label("Codigo Interno :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Acuerdo.CodigoInterno, new { @class = "form-control", id = "txtCodigoInterno", maxlength = 50, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>


                                    @Html.Label("Fecha Inicio :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            @Html.TextBoxFor(model => model.Acuerdo.FechaVigenciaDesde, new { @class = "form-control datepicker", id = "txtFecha", autocomplete = "off", maxlength = 10 })
                                        </div>
                                        <span id="mensajeFecha" class="text-danger" style="display: none">Debe seleccionar una fecha</span>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Tipo de Pago :", new { @class = "col-md-1-5 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Acuerdo.TipoPago, new SelectList(Model.Acuerdo.TiposPagos, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlTipoPago" })
                                        </div>
                                        <span id="mensajeTipoPago" class="text-danger" style="display: none">Debe seleccionar un tipo de pago</span>
                                    </div>
                                    @Html.Label("Tipo de Rebate :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Acuerdo.TipoRebate, new SelectList(Model.Acuerdo.TiposRebates, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlTiposRebates" })
                                        </div>
                                    </div>

                                    @Html.Label("Acuerdo :", new { @class = "col-sm-2 col-form-label isAcuerdo" })
                                    <div class="col-sm-2 isAcuerdo">
                                        @Html.TextBoxFor(model => model.Acuerdo.AcuerdoComercial, new { @class = "form-control", id = "txtAcuerdo", onkeypress = "FormatFieldDown(this.id);", maxlength = 8, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>

                                    @Html.Label("Rebate :", new { @class = "col-sm-2 col-form-label isRebate" })
                                    <div class="col-sm-2 isRebate">
                                        @Html.TextBoxFor(model => model.Acuerdo.RebateAnual, new { @class = "form-control", id = "txtRebate", onkeypress = "FormatFieldDown(this.id);", maxlength = 8, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar Manager Free</span>
                                    </div>




                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">

                                    @Html.Label("Manager :", new { @class = "col-md-1-5 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Acuerdo.IdManager, new SelectList(Model.Acuerdo.ManagerList, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlManagers" })
                                        </div>
                                        <span id="mensajeManagers" class="text-danger" style="display: none">Debe seleccionar un managers</span>
                                    </div>
                                    @Html.Label("Management Free :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Acuerdo.ManagementFree, new { @class = "form-control", id = "txtManagerFree", onkeypress = "FormatFieldDown(this.id);", maxlength = 8, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar Manager Free</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-outline-success" type="button" id="btnActualizar"><i class="fa fa-save"></i>&nbspActualizar</button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    }

</section>

<!--Grilla de datos-->
<section class="content animated fadeIn">

    <div class="row">
        <div class="container-fluid">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title"> Historicos</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div>
                            <div class="col-sm-12">
                                <p>Columnas Visibles:</p> <p id="linkColumn"></p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <table class="table table-bordered table-sm" cellspacing="0" style="width:100%" id="gridAcuerdosHistoricos">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.CodigoInterno)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.Manager)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.FechaVigenciaDesde)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.FechaVigenciaHasta)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.DescipcionPago)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.DescripcionRebate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.RebateAnual)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.AcuerdoComercial)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.ManagementFree)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.UsuarioReg)
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Acuerdos)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.CodigoInterno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Manager)</td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.FechaVigenciaDesde)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.FechaVigenciaHasta)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DescipcionPago)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DescripcionRebate)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.RebateAnual)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.AcuerdoComercial)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.ManagementFree)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UsuarioReg)
                                            </td>

                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="col text-left">
    <a href="@Url.Action("Index","Acuerdos")" id="backLink" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i>&ensp;Volver
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/customjs/datepicker.js"></script>
    <script src="~/Scripts/customjs/helpers.js"></script>
    <script src="~/Scripts/customjs/EdicionAcuerdo.js"></script>
    <style>
        .col-md-1-5 {
            width: 120px;
        }

        .blue {
            color: blue;
        }
    </style>
}
