﻿@model LV_Template_MVC4.Models.ActivosViewModel
@using LV_Template_MVC4.Models

@{
    ViewBag.Title = "Fondos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h4>Acuerdos Comerciales</h4>
        </div>
    </div>
</section>


<!--Grilla de datos-->
<section class="content animated fadeIn">

    <div class="row">
        <div class="container-fluid">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title"> Acuerdos Comerciales</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div>
                            <div class="col-sm-10">
                                <p>Columnas Visibles:</p> <p id="linkColumn"></p>
                            </div>
                        </div>
                        <div>
                            @using (Html.BeginForm("Index", "Acuerdos", FormMethod.Post, new { id = "formBuscar", @class = "form-horizontal" }))
                            {
                                <div class="col-sm-10">
                                    @Html.Label("Filtrar por :")
                                    @Html.RadioButtonFor(s => s.SelectFilter, (int)SelectFilter.Asignados, new { @id = SelectFilter.Asignados, Checked = "checked", name = "Filtro" }) @Html.Label("Asignados")
                                    @Html.RadioButtonFor(s => s.SelectFilter, (int)SelectFilter.Todos, new { @id = SelectFilter.Todos, name = "Filtro" }) @Html.Label("Todos")
                                    @Html.RadioButtonFor(s => s.SelectFilter, (int)SelectFilter.SinAsignar, new { @id = SelectFilter.SinAsignar, name = "Filtro" }) @Html.Label("Sin Asignar")
                                    @Html.RadioButtonFor(s => s.SelectFilter, (int)SelectFilter.Activos, new { @id = SelectFilter.Activos, name = "Filtro" }) @Html.Label("Activos")
                                    @Html.RadioButtonFor(s => s.SelectFilter, (int)SelectFilter.Inactivos, new { @id = SelectFilter.Inactivos, name = "Filtro" }) @Html.Label("Inactivos")
                                    @Html.RadioButtonFor(s => s.SelectFilter, (int)SelectFilter.EnPortafolio, new { @id = SelectFilter.EnPortafolio, name = "Filtro" }) @Html.Label("EnPortafolio")
                                </div>
                            }


                        </div>
                        <div class="col-sm-12">
                            @using (Html.BeginForm("RelacionarView", "Acuerdos", FormMethod.Post, new { id = "formRelacionar", @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(model => model.AcuerdosSelected, new { @id = "acuerdosSeleccionados" })
                                <table class="table table-bordered table-sm" cellspacing="0" style="width:100%" id="gridActivos">
                                    <thead>
                                        <tr>
                                            <th>

                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.IdAcuerdo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.NombreManager)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.CODIGO_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.NOMBRE_ACTIVO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.TipoProducto)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.TipoPago)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.TipoRebate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.ManagementFree)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.RebateAnual)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.AcuerdoComercial)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo.FechaVigenciaDesde)
                                            </th>

                                            <th class="alinear-medio" style="width:1%;"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.AcivoList)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@Html.DisplayFor(modelItem => item.IdAcuerdo)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NombreManager)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CODIGO_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NOMBRE_ACTIVO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TipoProducto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DescipcionTipoPago)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DescipcionTipoRebate)
                                                </td>
                                                <td align="right">
                                                    @Html.DisplayFor(modelItem => item.ManagementFree)
                                                </td>
                                                <td align="right">
                                                    @Html.DisplayFor(modelItem => item.RebateAnual)
                                                </td>

                                                <td align="right">
                                                    @Html.DisplayFor(modelItem => item.AcuerdoComercial)
                                                </td>
                                                <td align="center">
                                                    @Html.DisplayFor(modelItem => item.FechaVigenciaDesde)
                                                </td>

                                                <td>
                                                    @if (item.IdAcuerdo.HasValue)
                                                    {
                                                        <a href=@Url.Action("Edit", "Acuerdos", new { id = item.IdAcuerdo }) class="btn btn-warning btn-sm js-editar alinear-centro-medio" id="btnEditar" data-toggle="tooltip" data-placement="top" title="Ver Acuerdo"><i class="fas fa-edit"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/Scripts/customjs/datepicker.js"></script>
    <script src="~/Scripts/customjs/Acuerdos.js"></script>
    <style>
        .modal-lg {
            max-width: 70% !important;
        }

        .blue {
            color: blue;
        }
    </style>

}
