﻿@model LV_Template_MVC4.Models.ActivosViewModel

@{
    ViewBag.Title = "Relacionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h4>Relacionar Acuerdos Comerciales</h4>
        </div>
    </div>
</section>
<section class="content">

    @using (Html.BeginForm("Relacionar", "Acuerdos", FormMethod.Post, new { id = "formRelacionar", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="container-fluid">
                <div class="card card-gray">
                    <div class="card-header">
                        <h4 class="card-title">Relacionar Listado Seleccionado</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Acuerdo.IdManager, new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Acuerdo.IdManager, new SelectList(Model.Acuerdo.ManagerList, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlManagers" })
                                        </div>
                                        <span id="mensajeManagers" class="text-danger" style="display: none">Debe seleccionar un managers</span>
                                    </div>
                                    @Html.LabelFor(model => model.Acuerdo.CodigoInterno, new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Acuerdo.CodigoInterno, new { @class = "form-control", id = "txtCodigoInterno", maxlength = 50, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>


                                    @Html.Label("Fecha Vigencia", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            @Html.TextBoxFor(model => model.Acuerdo.FechaVigenciaDesde, new { @class = "form-control datepicker", id = "txtFecha", autocomplete = "off", maxlength = 10 })
                                        </div>
                                        <span id="mensajeFecha" class="text-danger" style="display: none">Debe ingresar Fecha Vigencia</span>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Tipo de Pago", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Acuerdo.TipoPago, new SelectList(Model.Acuerdo.TiposPagos, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlTipoPago" })
                                        </div>
                                        <span id="mensajeTipoPago" class="text-danger" style="display: none">Debe seleccionar un tipo de pago</span>
                                    </div>
                                    @Html.Label("Tipo de Rebate", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Acuerdo.TipoRebate, new SelectList(Model.Acuerdo.TiposRebates, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlTiposRebates" })
                                        </div>
                                        <span id="mensajeManagers" class="text-danger" style="display: none">Debe seleccionar un tipo de rebate</span>
                                    </div>
                                    @Html.Label("Acuerdo", new { @class = "col-sm-2 col-form-label isAcuerdo" })
                                    <div class="col-sm-2 isAcuerdo">
                                        @Html.TextBoxFor(model => model.Acuerdo.AcuerdoComercial, new { @class = "form-control", id = "txtAcuerdo", onkeypress = "FormatFieldDown(this.id);", maxlength = 8, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>

                                    @Html.Label("Rebate", new { @class = "col-sm-2 col-form-label isRebate" })
                                    <div class="col-sm-2 isRebate">
                                        @Html.TextBoxFor(model => model.Acuerdo.RebateAnual, new { @class = "form-control", id = "txtRebate", onkeypress = "FormatFieldDown(this.id);", maxlength = 8, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar Manager Free</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Management Free", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Acuerdo.ManagementFree, new { @class = "form-control", id = "txtManagerFree", onkeypress = "FormatFieldDown(this.id);", maxlength = 8, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar Manager Free</span>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-outline-success" type="button" id="btnRelacionar"><i class="fa fa-save"></i>&nbspRelacionar</button>
                            </div>
                        </div>
                        <hr />

                        <div class="col-sm-12">
                            <table class="table table-bordered table-sm" cellspacing="0" style="width:100%" id="gridRelacion">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Activo.CODIGO_PRODUCTO)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Activo.NOMBRE_ACTIVO)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Activo.TipoProducto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.Manager)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Acuerdo.FechaVigenciaDesde)
                                        </th>



                                    </tr>
                                </thead>

                                <tbody>
                                    @for (var i = 0; i < Model.AcivoList.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.AcivoList[i].CODIGO_PRODUCTO)
                                                @Html.HiddenFor(m => Model.AcivoList[i].CODIGO_PRODUCTO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.AcivoList[i].NOMBRE_ACTIVO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.AcivoList[i].TipoProducto)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => Model.AcivoList[i].NombreManager)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.AcivoList[i].FechaVigenciaDesde)
                                            </td>

                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>



                    </div>


                </div>
            </div>
        </div>
    }
</section>


<div class="col text-left">
    <a href="@Url.Action("Index","Acuerdos")" id="backLink" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i>&ensp;Volver
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/customjs/datepicker.js"></script>
    <script src="~/Scripts/customjs/helpers.js"></script>
    <script src="~/Scripts/customjs/relacionarview.js"></script>
}
