﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LarrainVial - @ViewBag.Title</title>

    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />


    <link href="@Url.Content("~/Content/adminlte.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/select2-bootstrap4.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/fontawesome-free/css/all.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/icheck-bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/OverlayScrollbars.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/daterangepicker.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/summernote-bs4.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/dataTables.bootstrap4.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/buttons.dataTables.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/rowGroup.dataTables.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/iziToast.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/select.dataTables.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/iziModal.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/icheck-bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/loader.css")" rel="stylesheet">



    @*@Styles.Render("~/Content/css")*@
</head>



<body class="hold-transition sidebar-mini layout-fixed">

    <div id="loader-wrapper">
        <div id="most">
            <img src="@Url.Content("~/Content/img/logo_larrainvial_gris.png")" alt="LarrainVial" width="250" />
        </div>
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                    <span class="mr-2 text-sm">@User.Identity.Name</span>
                    <i class="fas fa-user-circle"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <div class="content-wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link logo-switch" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/img/cuadrado.png")" class="brand-image-xl logo-xs" style="width:25px; height:auto; margin:10px 5px;" />
                <img src="@Url.Content("~/Content/img/logo_larrainvial_blanco.png")" class="brand-image-xs logo-xl" style="width:155px; height:auto; margin: 1px 25px;">
            </a>
            <!-- Sidebar -->
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Mantenedores
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a id="managers" href="@Url.Action("Index", "Managers")" class="nav-link">
                                        <i class="far fa-circle nav-icon fx-xs"></i>
                                        <p class="text-sm">Managers</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a id="acuerdos" href="@Url.Action("Index", "Acuerdos")" class="nav-link">
                                        <i class="far fa-circle nav-icon fx-xs"></i>
                                        <p class="text-sm">Acuerdos Comerciales</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-server"></i>
                                <p>
                                    Reportes
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a id="clientesSupervisor" href="@Url.Action("Diario", "Reporte")" class="nav-link">
                                        <i class="far fa-circle nav-icon fx-xs"></i>
                                        <p class="text-sm">Reporte diario </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a id="clientesSupervisorAgente" href="@Url.Action("Resumen", "Reporte")" class="nav-link">
                                        <i class="far fa-circle nav-icon fx-xs"></i>
                                        <p class="text-sm">Resumen </p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
    </div>

    <footer class="main-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>
                    LarrainVial Chile. Avenida El Bosque Norte 0177, piso 1, Las Condes. Santiago, Chile. &copy;
                    Copyright @DateTime.Now.Year - Todos los Derechos Reservados.
                </span>
            </div>
        </div>
    </footer>


    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")"></script>
    <script src="@Url.Content("~/Scripts/character-counter.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.js")"></script>
    <script src="@Url.Content("~/Scripts/adminlte.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.knob.min.js")"></script>
    <script src="@Url.Content("~/Scripts/summernote-bs4.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.overlayScrollbars.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.rowGroup.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("~/Scripts/iziToast.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.rut.chileno.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.select.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/iziModal.js")"></script>
    <script src="@Url.Content("~/Scripts/customs.js")"></script>
    <script src="@Url.Content("~/Scripts/date-eu.js")"></script>


    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)



    <script>

        function desbloquear() {
            $("#loader-wrapper").delay(250).fadeOut(1000);
        }
        function bloquear() {
            $('#loader-wrapper').css({ display: 'block' });
        }

        $(document).ready(function () {

            desbloquear();

            var url = window.location;

            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).addClass('active');

            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');


        });

    </script>


</body>

</html>
