﻿@model LV_Template_MVC4.Models.Manager

@{
    ViewBag.Title = " Edicion Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h4>Edición Managers</h4>
        </div>
    </div>
</section>
<section class="content">
    @using (Html.BeginForm("Edit", "Managers", FormMethod.Post, new { id = "formEditManagers", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="container-fluid">
                <div class="card card-gray">
                    <div class="card-header">
                        <h4 class="card-title">Edición de Managers</h4>
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.DocumentosGuid)
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Manager :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", id = "txtNombre", maxlength = 200, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>
                                    @Html.Label("Contacto :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Contacto, new { @class = "form-control", id = "txtContacto", maxlength = 200, autocomplete = "off" })
                                    </div>
                                    @Html.Label("Correo Electrónico :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "txtEmail", maxlength = 200, autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Plataforma :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Plataforma, new SelectList(Model.PlataformaList, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlPlataforma" })
                                        </div>
                                        <span id="mensajePlataforma" class="text-danger" style="display: none">Debe seleccionar una plataforma</span>
                                    </div>
                                    @Html.Label("Telefono :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", id = "txtTelefono", maxlength = 50, autocomplete = "off" })
                                    </div>
                                    @Html.Label("Fecha Contrato :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            @Html.TextBoxFor(model => model.FechaContrato, new { @class = "form-control datepicker", id = "txtFecha", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-outline-success" type="button" id="btnActualizar"><i class="fa fa-save"></i>&nbspActualizar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    }
</section>

<div class="col text-left">
    <a href="@Url.Action("Index","Managers")" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i>&ensp;Volver
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/customjs/datepicker.js"></script>
    <script src="~/Scripts/customjs/managers.js"></script>

}
