﻿@model LV_Template_MVC4.Models.ManagerViewModel

@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h4>Managers</h4>
        </div>
    </div>
</section>

@*Nuevos Managers*@
<section class="content">
    @using (Html.BeginForm("Create", "Managers", FormMethod.Post, new { id = "formIngresoManagers", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="container-fluid">
                <div class="card card-gray">
                    <div class="card-header">
                        <h4 class="card-title">Ingreso de Managers</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Manager :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Manager.Nombre, new { @class = "form-control", id = "txtNombre", maxlength = 200, autocomplete = "off" })
                                        <span id="mensajeNombre" class="text-danger" style="display: none">Debe ingresar el nombre del manager</span>
                                    </div>
                                    @Html.Label("Contacto :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Manager.Contacto, new { @class = "form-control", id = "txtContacto", maxlength = 200, autocomplete = "off" })
                                    </div>
                                    @Html.Label("Correo Electrónico :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Manager.Email, new { @class = "form-control", id = "txtEmail", maxlength = 200, autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    @Html.Label("Plataforma :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-list-ul"></i></div>
                                            </div>
                                            @Html.DropDownListFor(model => model.Manager.Plataforma, new SelectList(Model.Manager.PlataformaList, "Value", "Text"), "--Seleccione--", new { @class = "form-control", id = "ddlPlataforma" })
                                        </div>
                                        <span id="mensajePlataforma" class="text-danger" style="display: none">Debe seleccionar una plataforma</span>
                                    </div>
                                    @Html.Label("Telefono :", new { @class = "col-sm-1 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Manager.Telefono, new { @class = "form-control", id = "txtTelefono", maxlength = 50, autocomplete = "off" })
                                    </div>
                                    @Html.Label("Fecha Contrato :", new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                            @Html.TextBoxFor(model => model.Manager.FechaContrato, new { @class = "form-control datepicker", id = "txtFecha", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-outline-success" type="button" id="btnIngresar"><i class="fa fa-plus"></i>&nbspAgregar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    }
</section>

<!--Grilla de datos-->
<section class="content animated fadeIn">

    <div class="row">
        <div class="container-fluid">
            <div class="card card-gray">
                <div class="card-header">
                    <h3 class="card-title"> Managers</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div>
                            <div class="col-sm-10">
                                <p>Columnas Visibles:</p> <p id="linkColumn"></p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <table class="table table-bordered table-sm" cellspacing="0" style="width:100%" id="gridManagers">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.TieneAcuerdos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.DocumentosGuid)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.UrlDocumentos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.Plataforma)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.Contacto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.Telefono)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Manager.FechaContrato)
                                        </th>
                                        <th class="alinear-medio" style="width:1%;"></th>
                                        <th class="alinear-medio" style="width:1%;"></th>
                                        <th class="alinear-medio" style="width:1%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ManagerList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TieneAcuerdos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumentosGuid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UrlDocumentos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PlataformaName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Contacto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.Telefono)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.FechaContrato)
                                            </td>
                                            <td>
                                                <a href=@Url.Action("Edit", "Managers", new { id = item.Id }) class="btn btn-warning btn-sm js-editar alinear-centro-medio" id="btnEditar" data-toggle="tooltip" data-placement="top" title="Ver Manager"><i class="fas fa-edit"></i></a>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm js-Eliminar alinear-centro-medio" id="btnEliminar" data-toggle="tooltip" data-placement="top" title="Elimiar"><i class="fas fa-times"></i></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-secondary btn-sm js-Cargar" id="btnCargarArchivo" data-toggle="tooltip" data-placement="top" title="Listar y Subir Archivos"><i class="fas fa-file-upload"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal Carga de Archivo-->
<div class="modal fade" id="modalCargarArchivos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carga de archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="cargaArchivos" class="embed-responsive-item" src="" width="750" height="300"></iframe>
            </div>
            <div class="modal-footer">
                <div class="col text-right">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&ensp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Scripts/customjs/datepicker.js"></script>
    <script src="~/Scripts/customjs/managers.js"></script>
    <style>
        .blue {
            color: blue;
        }
    </style>
}
